<%= form_for(@recipe, :html => { multipart: true,
                                 :class => 'form-horizontal' }) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this
        recipe from being saved:</h2>

      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="control-group">
    <%= f.label :summary %>
    <%= f.text_area :summary, size: "60x12", class: "span5" %>
  </div>
  <div class="control-group">
    <%= f.label :ingredients %>
    <%= f.text_field :ingredients %>
  </div>
  <div class="control-group">
    <%= f.label :servings %>
    <%= f.number_field :servings %>
  </div>
  <div class="control-group">
    <%= f.label :prep_time %>
    <%= f.text_field :prep_time %>
  </div>
  <div class="control-group">
    <%= f.label :cook_time %>
    <%= f.text_field :cook_time %>
  </div>
  <div class="control-group">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="control-group">
    <%= f.label :preparation %>
    <%= f.text_area :preparation, size: "60x12", class: "span5" %>
  </div>

  <% if @recipe.image? %>
    <div>
      Current image of the prepared recipe:<br>
      <%= (image_tag @recipe.image_url(:medium), :class => "img-polaroid") %>
      <br><br>
    </div>
  <% end %>

  <div class="control-group">
    <% if @recipe.image? %>
      Upload a new image of the prepared recipe (replacing the current one):
    <% else %>
      Upload an image of the prepared recipe:
    <% end %>
      <br>
      <%= f.label :image_name %>
      <%= f.text_field :image_name %>
      <%= f.file_field :image %>
      <%= f.label :remote_image_url, "or image URL" %>
      <%= f.text_field :remote_image_url %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', root_path, class: "btn" %>
  </div>
<% end %>
