<h1>Recipes</h1>

<div id="recipe-listing" class="span8">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td class="thumb"><%= (link_to (image_tag recipe.image_url(:thumb), :class => "img-polaroid"), recipe) if recipe.image? %></td>
          <td class="overview">
            <div><h3 class="margin-reset"><%= link_to recipe.name, recipe, :class => "recipe-name-link" %></h3></div>
            <div><h6 class="inline">Servings:</h6> <%= recipe.servings %></div>
            <div><h6 class="inline">Summary:</h6>
              <%=raw truncate((recipe.summary), :length => 180, :omission => link_to(" ... more", recipe)) %></div>
            <div><h6 class="inline">Author/Source:</h6> <%= recipe.author %></div>
            <div><h6 class="inline">Tags:</h6> <%= raw recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
          </td>
          <td class="actions">
            <%= link_to 'Show', recipe, :class => 'btn btn-mini' %>
            <% if user_signed_in? %>
              <% if (current_user.has_role? :admin) || (current_user.has_role? :member) %>
                <br><%= link_to 'Edit', edit_recipe_path(recipe), :class => 'btn btn-mini' %>
              <% end %>
              <% if (current_user.has_role? :admin) %>
                <br><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="sidebar" class="span4">
  <h3>Tag Cloud</h3>
  <div id="tag_cloud">
    <% tag_cloud Recipe.tag_counts, %w{xxs xs s m l xl xxl} do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
    <% end %>
  </div>
  <% if @tag_name %>
    <div class="filtered-tag-name">
      <h5>Viewing the list of recipes tagged with the tag: "<%= @tag_name %>"</h5>
    </div>
  <% end %>
  <div class="users">
    <h3>Users</h3>
    <p>Click on a user's name to view the list of recipes they've created:</p>
    <ul>
      <% @users.each do |user| %>
        <li>
           <% if user.name == "" %>
            <%= link_to user.email, user_path(user) %>
           <% else %>
            <%= link_to user.name, user_path(user) %>
           <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>