<h1>Featured Recipe</h1>
<h2><%= @recipe.name %></h2>

<div id="recipe">
  <div class="row">
    <% if @recipe.image? %>
      <div class="image span3">
        <%= image_tag @recipe.image_url(:large), :class => "img-polaroid" %>
      </div>
    <div class="recipe-content span9">
    <% else %>
    <div class="recipe-content span11">
    <% end %>
      <div class="overview">
        <h5 class="inline">Servings:</h5> <%= @recipe.servings %><br>
        <h5 class="inline">Prep time:</h5> <%= @recipe.prep_time %><br>
        <h5 class="inline">Cook time:</h5> <%= @recipe.cook_time %><br><br>
        <h5 class="inline">Summary:</h5><br>
        <%= simple_format(@recipe.summary) %>
      </div>

      <div class="main-details">
        <div class="ingredients">
          <h5 class="inline">Ingredients:</h5><br>
          <%= simple_format(@recipe.ingredients) %>
        </div>

        <div class="preparation">
          <h5 class="inline">Preparation:</h5><br>
            <%= simple_format(@recipe.preparation) %>
        </div>
      </div>

      <div class="meta-info">
        <h5 class="inline">Author/Source:</h5> <%= @recipe.author %><br>
        <h5 class="inline">Tags:</h5> <%=raw @recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </div>
    </div>
  </div>
</div>

<div class="crud-links">
  <% if user_signed_in? %>
    <% if (current_user.has_role? :admin) || (current_user.has_role? :member) %>
      <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), :class => "btn" %>
    <% end %>
  <% end %>
  <%= link_to 'Back to Recipe Listing', recipes_path, :class => "btn" %>
</div>


<% if user_signed_in? %>
  <% if (current_user.has_role? :member) || ((current_user.has_role? :admin)) %>
    <div id="comments">
      <h3>Comments</h3>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'epicurio'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>

    <!-- DIY comments, disabled in deference to use of disqus comments -->
    <!--<div id="comments">-->
    <!--<h3>Comments</h3>-->

    <!--<%#= render "comments/comments" %>-->
    <!--<%#= render "comments/form" %>-->
    <!--</div>-->
  <% end %>
<% end %>