<h1>Featured Recipe</h1>
<h2><%= @recipe.name %></h2>

<p>
  <b>Servings:</b>
  <%= @recipe.servings %>
</p>

<p>
  <b>Prep time:</b>
  <%= @recipe.prep_time %>
</p>

<p>
  <b>Cook time:</b>
  <%= @recipe.cook_time %>
</p>

<p>
  <b>Author:</b>
  <%= @recipe.author %>
</p>


<p>
  <b>Ingredients:</b>
  <ul>
    <li><%= @recipe.ingredients %></li>
  </ul>
</p>

<p>
  <b>Preparation:</b>
  <%= @recipe.preparation %>
</p>

<br>

<%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %> &nbsp;|&nbsp;
<%= link_to 'Back to Recipe Listing', recipes_path %>
