<h1>Featured Recipe</h1>
<h2><%= @recipe.name %></h2>

<div id="recipe">
  <div class="row">
    <div class="image span2">
      <%= (image_tag @recipe.image_url(:large), :class => "img-polaroid") if @recipe.image? %>
    </div>
    <div class="recipe-content span9">
      <div class="overview">
        <p>
          <b>Servings:</b> <%= @recipe.servings %><br>
          <b>Prep time:</b> <%= @recipe.prep_time %><br>
          <b>Cook time:</b> <%= @recipe.cook_time %><br>
          <b>Author:</b> <%= @recipe.author %>
        </p>
        <p>
          <b>Summary:</b><br>
          <%= @recipe.summary %>
        </p>
      </div>

      <div class="main-details">
        <div class="ingredients">
          <p>
            <b>Ingredients:</b><br>
            <%= @recipe.ingredients %>
          </p>
        </div>

        <div class="preparation">
          <p>
            <b>Preparation:</b><br>
            <%= @recipe.preparation %>
          </p>
        </div>
      </div>

      <div class="tags">Tags: <%=raw @recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
    </div>
  </div>
</div>

<div class="crud-links">
  <% if user_signed_in? %>
    <% if (current_user.has_role? :admin) || (current_user.has_role? :member) %>
      <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), :class => "btn btn-mini" %>
    <% end %>
  <% end %>
  <%= link_to 'Back to Recipe Listing', recipes_path, :class => "btn btn-mini" %>
</div>
