<!--<%#= stylesheet_link_tag "recipes" %>-->

<h1>Welcome ...</h1>

<p>The Epicurio website is a place to store and share recipes. Unregistered
  users may browse all available recipes and comment on them. Member users may
  create and manage their own recipes. To request Member level access, first
  click the 'Sign Up' link at the top right of the site, then,
  <%= mail_to "benbjammin@gmail.com", "email the current site moderator", :encode => "hex" %> to
  request an upgrade of one's User role to that of a Member. One ought-to
  receive a response from the current site moderator, informing the user of the
  completion of the upgrade, at which point, the controls to create and manage
  one's own recipes will then be available/visible to them when one browses
  the site. Bon appetit!</p>

<h3 id="home">Featured Recipes</h3>

<div class="slider-container container-fluid span11">
  <ul id="featured-recipes">
    <% @recipes.each do |recipe| %>
      <li>
        <div id="featured-recipe">
          <% if recipe.image? %>
            <div class="image">
              <%= link_to (image_tag recipe.image_url(:medium), :class => "img-polaroid", width: "100", height: "100"), recipe %>
            </div>
          <% end %>
          <div class="overview span8">
            <div><%= link_to recipe.name, recipe, :class => "recipe-name-link" %></div>
            <div><b>Servings:</b> <%= recipe.servings %></div>
            <div><b>Summary:</b>
              <%=raw truncate((recipe.summary), :length => 180, :omission => link_to(" ... more", recipe)) %></div>
            <div><b>Author/Source:</b> <%= recipe.author %></div>
            <div><b>Tags:</b> <%= raw recipe.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<div id="bx-pager" class="span10 offset1">
  <% i = 0 %>
  <% @recipes_random_limited.each do |recipe|; @recipe_index = []; @recipe_index << i %>
    <%= link_to (image_tag recipe.image_url(:thumb), :class => "img-polaroid", width: "50", height: "50"), "", :'data-slide-index' => @recipe_index %>
    <% i += 1 %>
  <% end %>
</div>